@font-face {
    font-family: 'Bai';
    src: url(../fonts/BaiJamjuree/BaiJamjuree-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Bai';
    src: url(../fonts/BaiJamjuree/BaiJamjuree-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Bai';
    src: url(../fonts/BaiJamjuree/BaiJamjuree-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Bai';
    src: url(../fonts/BaiJamjuree/BaiJamjuree-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/static/Inter-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/static/Inter-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}