@import url(fonts.css);
:root {
    --black-primary: #161513;
    --black-secondary: #1C1C22;
    --white-primary: #F0F2F5;
    --white-secondary: #FFFFFF;
    --purple: #B16CEA;
    --red: #FF5E69;
    --orange: #FF8A56;
    --light-orange: #FFA84B;
}

/* ======================================== */
/* GENERAL STYLES */
/* ======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    background-color: var(--white-primary);
    color: var(--black-secondary);
}
::-moz-selection {
    background-color: var(--white-primary);
    color: var(--black-secondary);
}
body {
    font-family: 'Inter', serif;
    background: var(--black-primary);
    color: var(--white-primary);
}
h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Bai', serif;
}
ul {
    list-style-type: none;
}
.title {
    font-size: 60px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
a {
    text-decoration: none;
    color: var(--white-primary);
    cursor: pointer;
    transition: 0.2s;
}
a:hover {
    opacity: .8;
}
button {
    cursor: pointer;
}
.gradientText, .gradientTitle {
    color: none;
    background-image: linear-gradient(90deg,
        var(--purple),
        var(--red),
        var(--orange));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradientText {
    background-image: linear-gradient(90deg,
        var(--purple),
        var(--red),
        var(--orange),
        var(--light-orange));
}
@media (min-height: 800px) {
    .header-wrapper {
        display: flex;
        flex-direction: column;
        height: calc(100svh - 100px);
        justify-content: center;
    }
}

/* ======================================== */
/* HAMBURGER STYLES */
/* ======================================== */

.hamburger-button {
    display: none;
    height: 50px;
    width: 50px;
    background: none;
    border: none;
    border-radius: 6px;
    z-index: 10;
}
.hamburger {
    vertical-align: middle;
}
.hamburger__rect {
    transform-origin: center;
    height: 1px;
    stroke: var(--white-primary);
    stroke-width: 1;
    transition:
        transform 250ms 250ms,
        width 250ms 250ms,
        opacity 0s 250ms,
        rotate 250ms 0s;
}
.hamburger-button[aria-expanded="true"] .top  {
    transform: translateY(5px);
    rotate: -44deg;

    transition:
        transform 250ms,
        rotate 250ms 250ms;
}
.hamburger-button[aria-expanded="true"] .middle  {
    transform: translateX(-5px);
    width: 14px;
    opacity: 0;

    transition:
        transform 250ms,
        width 250ms,
        opacity 0s 250ms;
}
.hamburger-button[aria-expanded="true"] .bottom  {
    transform: translateX(-2px) translateY(-5px);
    width: 14px;
    rotate: 46deg;

    transition:
        transform 250ms,
        width 250ms,
        rotate 250ms 250ms;
}

/* ======================================== */
/* NAVIGATION STYLES */
/* ======================================== */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    z-index: 5;
}
.nav__wrapper {
    display: flex;
    flex-direction: row;
}
.nav__list {
    font-family: 'Inter', serif;
}
.nav__item {
    margin-right: 40px;
    height: 100%;
    text-transform: capitalize;
    line-height: 30px;
}
.nav__button {
    outline: none;
    padding: 8px 20px;
    background: var(--white-primary);
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--black-primary);
    z-index: 10;
}

/* ======================================== */
/* HEADER STYLES */
/* ======================================== */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 22px 0px rgba(34, 60, 80, 0.2) inset;
}
.header__title {
    font-size: 80px;
    line-height: 1.2;
}
.header__title_nr {
    font-size: 120px;
}
.header__item {
    margin-bottom: 20px;
}
.header__text {
    line-height: 2;
    width: 100%;
    max-width: 70%;
    margin-bottom: 30px;
}
.header__buttons-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.header__link {
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 30px;
    background: var(--white-primary);
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--black-primary);
    display: flex;
    align-items: center;
    font-weight: 500;
}
.header__link-s {
    background: none;
    border: 2px solid var(--white-primary);
    color: var(--white-primary);
}
.header__link-back {
    padding: 15px 30px;
    background: linear-gradient(90deg,
        var(--purple),
        var(--red),
        var(--orange),
        var(--light-orange));
    text-transform: uppercase;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: 500;
}

/* ======================================== */
/* FOOTER STYLES */
/* ======================================== */

.footer {
    padding: 40px 0 0 0;
}
.footer .container::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: var(--white-primary);
}
.footer__item {
    margin-left: 50px;
    text-transform: capitalize;
}
.footer__section {
    margin: 20px 0;
    padding: 10px 0;
}
.footer__section_s {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__list {
    justify-content: flex-end;
}
.footer__list-icons {
    display: flex;
    flex-direction: row;
}
.footer__item-icon {
    margin-left: 20px;
}
.footer__item-icon a {
    position: relative;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black-secondary);
    background-clip: padding-box;
    border: solid 1px var(--white-primary);
    box-sizing: border-box;
    background-clip: padding-box;
}
.footer__item-icon a:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px 0px rgba(255, 255, 255, 0.2);
}
.footer__item-icon a:active {
    transform: translateY(0px);
    box-shadow: none;
}
.footer__icon {
    font-size: 26px;
}
.footer__list {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', serif;
}

/* ======================================== */
/* DIVISOR STYLES */
/* ======================================== */

.divider {
    margin: 60px 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.divider__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,
        var(--purple),
        var(--red),
        var(--orange),
        var(--light-orange));
    padding: 40px 0;
    width: 100%;
}
.divider__line {
    background: var(--white-primary);
    position: absolute;
    display: flex;
    align-items: center;
    transform: rotate(-2deg);
    width: 110%;
    padding: 20px 0;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.4);
}
.divider__line p {
    font-family: 'Bai', Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--black-primary);
    display: flex;
    align-items: center;
}
.divider__line p::after {
    content: '';
    height: 12px;
    width: 12px;
    transform: translateY(4px);
    border-radius: 50%;
    background: linear-gradient(90deg,
        var(--purple),
        var(--red),
        var(--orange),
        var(--light-orange));
    margin: 0 30px;
}
.divider__line div {
    height: 12px;
    width: 12px;
    transform: translateY(5px);
    border-radius: 50%;
    background: linear-gradient(90deg,
        var(--purple),
        var(--red),
        var(--orange),
        var(--light-orange));
}

/* ======================================== */
/* PORTFOLIO CARDS */
/* ======================================== */

.projects {
    padding: 30px 0 20px 0;
}
.projects__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: end;
    margin-bottom: 60px;
}
.projects__description {
    line-height: 2;
}
.projects__card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    justify-content: space-between;
    padding: 20px 0;
}
.projects__card {
    background: var(--black-secondary);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.projects__card-img {
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    object-fit: cover;
    transition: 0.5s;
}
.projects__card-img-wrapper {
    max-height: 300px;
    height: 100%;
    overflow: hidden;
    background: #121212;
}
.projects__card-link {
    display: block;
}
.projects__card-link:hover {
    opacity: 1;
}
.projects__card:hover .projects__card-img {
    transform: scale(1.05);
    filter: brightness(100%);
}
.projects__card-footer {
    padding: 30px 30px 40px 30px;
}
.projects__card-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.projects__load-more {
    margin: 20px 0;
}
.load-more {
    background: var(--black-secondary);
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--white-primary);
    border: none;
    margin: 0 auto;
    display: block;
}
.projects__card:nth-child(n + 5) {
    display: none;
}
.projects__card.is-visible {
    display: block;
}

/* ======================================== */
/* ANIMATIONS */
/* ======================================== */
